.contact__title {
    font-size: 38px;
    color: black;
    font-weight: 700;
    padding: 8px 0;
    margin-top: 0px;
}

.contact-form{
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 50px;
    min-width: 300px;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

.required,
.error-message{
    color: red;
}

.contact-form button {
    align-self: flex-end;
    background-color: blue;
    border: none;
    color: white;
    font-size: 20px;
    padding: 6px 12px;
    width: 200px;
    cursor: pointer;
}

.contact-form button:hover {
    filter: brightness(0.6);
}

.contact__container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    padding: 20px 0;
}

.contact-form button:disabled {
    background-color: gray;
}

.contact-form button:disabled:hover {
    filter: none;
}

textarea{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 50px;
    max-height: 250px;
    max-width: stretch;
    min-width: stretch;
    resize: none;
}

input{
    padding: 8px;
    max-width: stretch;
    min-width: stretch;
}