.footer {
    background-color: lightgray;        
    color: rgb(73, 73, 73);
    font-size: 18px;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 20px;
    
}

.footer__copyright {
    text-align: center;
    margin-top: 20px;
    background-color: white;    
    font-weight: bold;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.footer__title {
    font-size: 22px;
    font-weight: bold;
    color: blue;
    margin-bottom: 5px;
}

.footer__about-text {
    width: 400px;
    text-align: justify;
}


.footer svg {
    fill: green;
}

.footer li {
    display: flex;
    gap: 5px;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    color: rgb(73, 73, 73);
    margin: 10px 0;
    list-style-type: none;
}